<div class="row" id="sticky-sidebar">
  <div class="col">
    <div class="row">
      <div class="col-12 d-flex align-items-center nav-items" [routerLinkActive]='["active"]'><a [routerLink]='["statistics"]'><span class="d-flex justify-content-start">Dashboard</span></a></div>
      <div class="col-12 d-flex align-items-center nav-items" [routerLinkActive]='["active"]'><a [routerLink]='["applications"]'><span class="d-flex justify-content-start">Applications</span></a></div>
      <div class="col-12 d-flex align-items-center nav-items" [routerLinkActive]='["active"]'><a [routerLink]='["seminars"]'><span class="d-flex justify-content-start">Seminars</span></a></div>
      <div class="col-12 d-flex align-items-center nav-items" [routerLinkActive]='["active"]'><a [routerLink]='["events"]'><span class="d-flex justify-content-start">Events</span></a></div>
    </div>
  </div>
</div>