.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link i {
  margin-right: 5px;
}


.navbar-brand {
  background-image: url('../../../assets/img/logo-white.png');
  width: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  margin-left: -30px;
}