<div class="container">
  <h4 class="text-muted" style="margin-left: -15px;">Dashboard</h4>
  <div class="row">
    <div class="col-5" style="background-color:#00c0ef">
      <h3 *ngIf='!applicationsCount'>0</h3>
      <h3>{{applicationsCount}}</h3>
      <p>Application</p>
      <!-- <i class="fas fa-users" id="card-nav"></i> -->
      <div class="info-area d-flex justify-content-center">
        <a (click)='naviagteToApplicationList()'>More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-5" style="background-color:#f39c12">
      <h3 *ngIf='!seminarsRegCount'>0</h3>
      <h3>{{seminarsRegCount}}</h3>
      <p>Seminar Registrer</p>
      <!-- <i class="fas fa-chalkboard-teacher" id="card-nav"></i> -->
      <div class="info-area d-flex justify-content-center">
        <a (click)='naviagteToSeminarsList()'>More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
</div>