.container {
  position: relative;
  left: 250px;
  top: 100px;
}

.col-5 {
  height: 115px;
  width: 300px;
  margin-right: 20px;
  padding: 10px;
  color: #FFFFFF;
}

.info-area {
  background-color: rgba(0, 0, 0, 0.1);
  width: 108%;
  margin: 0 -10px;
}

.info-area a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}