<section id="seminar-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Attend A Seminar</h5>
            <form class="form-signin" [formGroup]="contactForm">
              <div class="form-label-group">
                <input type="text" id="inputName" class="form-control" placeholder="Name" autofocus formControlName="name">
                <label for="inputName">Name</label>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email">
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="inputPhone" class="form-control" placeholder="Phone Number" formControlName="phone">
                <label for="inputPhone">Phone Number</label>
                <span class="error-message text text-danger" *ngIf="(contactForm.get('phone').touched || 
                                                                                    contactForm.get('phone').dirty) && 
                                                                                    contactForm.get('phone').errors">
                  <span *ngIf="contactForm.get('phone').errors.required">
                    Please enter your phone.
                  </span>
                  <span *ngIf="contactForm.get('phone').errors.pattern">
                    Invalid number.
                  </span>
                </span>
              </div>

              <!-- <div class="form-label-group">
                <input type="text" id="inputQualification" class="form-control" placeholder="Qualification" formControlName="qualification">
                <label for="inputQualification">Qualification</label>
              </div> -->

              <div class="form-label-group">
                <select name="" id="inputDate" class="form-control" formControlName="qualification">
                  <option *ngFor="let value of qualification" [ngValue]="value">{{value.value}}</option>
                </select>
              </div>

              <div class="form-label-group">
                <select name="" id="inputDate" class="form-control" formControlName="seminarDate">
                  <option *ngFor="let value of seminarDates" [ngValue]="value">{{value.date}}</option>
                </select>
              </div>

              <div class="form-label-group">
                <select name="" id="inputDate" class="form-control" formControlName="seminarTime">
                  <option *ngFor="let value of seminarTimes" [ngValue]="value">{{value.value}}</option>
                </select>
              </div>

              <!-- <div class="form-label-group">
                <select name="" id="inputDate" class="form-control" formControlName="seminarDate">
                  <option *ngFor="let value of seminarDates" [ngValue]="value">{{value.date}}</option>
                </select>
              </div> -->
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="!contactForm.valid" (click)="onSubmit()">SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>