<section class="d-flex flex-column justify-content-between" id="main">
    <div id="main-top">
        <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" [routerLink]="['/index']" style="background-image:url(&quot;assets/img/logo-white.png&quot;);width:150px;background-position:center;background-size:contain;background-repeat:no-repeat;height:50px;"></a>
                <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
                    <ul class="nav navbar-nav d-lg-flex align-items-center ml-auto">
                        <li class="nav-item align-middle h-100" role="presentation"><a class="nav-link" (click)="hideNav($event)" [routerLink]="['/index']">Home</a></li>
                        <li class="nav-item align-middle h-100" role="presentation"><a class="nav-link" (click)="hideNav($event)" [routerLink]="['/index']">About</a></li>
                        <li class="nav-item align-middle h-100" role="presentation"><a class="nav-link" (click)="hideNav($event)" [routerLink]="['/index']">Training Roadmap</a></li>
                        <li class="nav-item align-middle h-100" role="presentation"><a class="nav-link" (click)="hideNav($event)" [routerLink]="['/index']">Certification</a></li>
                        <li class="nav-item align-middle h-100" role="presentation"><a class="nav-link" (click)="hideNav($event)" [routerLink]="['/index']">Career Service</a></li>
                        <li class="nav-item align-middle h-100" role="presentation"><a class="nav-link" (click)="hideNav($event)" [routerLink]="['/index']">Team</a></li>
                        <li class="nav-item align-middle h-100" role="presentation"><a class="nav-link" (click)="hideNav($event)" [routerLink]="['/index']">Events</a></li>
                        <!-- <li class="nav-item align-middle h-100" role="presentation"><a class="nav-link" [routerLink]="['/seminar']">Attend Seminar</a></li> -->
                        <li class="nav-item align-middle h-100" role="presentation"><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>
                        <li class="nav-item align-middle h-100" role="presentation">
                            <a class="nav-link" [routerLink]="['/seminar']">
                                <button class="btn btn-primary nav-apply-btn">Seminar</button>
                            </a>
                        </li>
                        <li class="nav-item align-middle h-100" role="presentation">
                            <a class="nav-link" [routerLink]="['/apply']">
                                <button class="btn btn-primary nav-apply-btn">Apply</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>
<section id="seminar-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Attend A Seminar</h5>
            <form class="form-signin" [formGroup]="contactForm">
              <!-- HIDDEN KEY INPUT-->
              <input type="hidden" formControlName="$key">

              <div class="form-label-group">
                <input type="text" id="inputName" class="form-control" placeholder="Name" autofocus formControlName="name">
                <label for="inputName">Name</label>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email">
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="inputPhone" class="form-control" placeholder="Phone Number" formControlName="phone">
                <label for="inputPhone">Phone Number</label>
                <span class="error-message text text-danger" *ngIf="(contactForm.get('phone').touched ||
                                                                                    contactForm.get('phone').dirty) &&
                                                                                    contactForm.get('phone').errors">
                  <span *ngIf="contactForm.get('phone').errors.required">
                    Please enter your phone.
                  </span>
                  <span *ngIf="contactForm.get('phone').errors.pattern">
                    Invalid number.
                  </span>
                </span>
              </div>

              <div class="form-label-group">
                <select name="" id="inputDate" class="form-control" formControlName="qualification">
                  <option *ngFor="let value of qualification" [ngValue]="value">{{value.value}}</option>
                </select>
              </div>

              <div class="form-label-group">
                <select name="" id="inputDate" class="form-control" formControlName="seminarDate">
                  <option *ngFor="let value of seminarDates" [ngValue]="value">{{value.date}}</option>
                </select>
              </div>

              <div class="form-label-group">
                <select name="" id="inputDate" class="form-control" formControlName="seminarTime">
                  <option *ngFor="let value of seminarTimes" [ngValue]="value">{{value.value}}</option>
                </select>
              </div>

              <!-- <div class="form-label-group">
                <select name="" id="inputDate" class="form-control" formControlName="seminarDate">
                  <option *ngFor="let value of seminarDates" [ngValue]="value">{{value.date}}</option>
                </select>
              </div> -->
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="!contactForm.valid" (click)="onSubmit()">SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <p>
      <a [routerLink]="['/index']">www.vvorkcloud.com</a>
    </p>
  </div>
</footer>