#contact-section {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
textarea#inputMessage {
    border-radius: 3%;
}

// #495057

#inputMessage::placeholder {
    color: #495057;
    font-size: 1rem;
}
// #contact-section {
//     padding-top: 20px;
// }